@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  padding: 1rem 2rem;
  place-self: flex-start;
  place-items: baseline;
  margin: 0%;
}

.hero-section[data-v-b4e148ca] {
  position: relative;
  background: #333;
  color: white;
  padding: 50px 0;
  width: calc(100% - 0px);
}

.hero-content {
  position: relative;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.hero-content {
  position: relative;
  max-width: min(calc(100vw - 0px), 1040px);
  height: 60px;
  display: flex;
  margin: 0 0 20px 0;
  color: white;
  background: #333;
  align-items: center;
  justify-content: space-around;
}


@media (min-width: 1024px) {}

.modal-dialog {
  width: calc(100% - 4%);
}

i.bi {
  font-size: 3rem;
  margin-right: 10px;
  color: #007bff;
}

.bi {
  font-size: 1.5rem;
  color: #007bff;
}

@media (max-width: 767px) {
  .bi {
    font-size: 1rem;
    color: #007bff;
  }
}

.icon-list {
  list-style: none;
  padding: 0;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: relative;
}

.tooltip-text {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-button:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
}